@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --black-font-color: #000000;
    --gray-font-color: #515151;
    --white-font-color: #FFFFFF;

    --main-background-color: #f7f4f4;
    --second-background-color: #FFFFFF;

    --subscribe-color: red;

    --main-font-family: 'Roboto', sans-serif;
}   

body {
   font-family: var(--main-font-family);
}

.navbar {
    display: flex;
    flex-direction: row;
    align-items: center; 
    padding: 10px ; 
    background-color: var(--white-font-color);
    height: 60px; 
    position: relative; 
    gap: 2rem;
}


.youtube-logo {
    margin-right: 20px;
}

.search {
    display: flex;
    flex-grow: 1;
    position: relative;
    justify-content: center; 
    cursor: pointer;
    
}

.search input {
    width: 348px;
    height: 40px;
    border: 1px solid;
}

.search input::placeholder {
  text-align: center;
}

.search-logo {
    display: flex;
    align-items: center;

    width: 50px;
    border: 1px solid var(--gray-font-color);
    background-color: var(--main-background-color);
    justify-content: center;
}


.profile img {
    width: 40px;
    border: 1px solid var(--black-font-color);
    border-radius: 100%;
}

.sidebar {
    width: 218px;
    height: 968px;
    background-color: var(--second-background-color);
    margin-top: 24px;
}

.sidebar__items {
    display: flex;
    flex-direction: column;
    padding-left: 24px;
    gap: 22px;
}

main {
    display: grid;
    grid-template-columns: 254px 2fr; 
}

.sidebar__item {
    display: flex; 
    align-items: center; 
}

.sidebar__item a {
    display: flex; 
    align-items: center; 
    gap: 12px; 
    text-decoration: none;
    color: var(--black-font-color);
    font-size: 14px;
}

.sidebar__item img {
    width: 24px; 
    height: 24px; 
}


.videos__grid {
    background-color: var(--main-background-color);
    padding: 20px;
}

.grid__container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.grid__item {
    padding: 10px;
    text-align: left;
}

.img__thumbnail {
    width: 250px;
    height: 140px;
}

.video__details {
    margin-top: 10px;
}

.video__header {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.dio__logo {
    width: 42px;
    height: 42px;
    margin-right: 10px;
}

.video__title {
    font-size: 14px;
}

.video__info {
    display: flex;
    flex-direction: column;
}

.video__info p {
    font-size: 12px;
    color: var(--gray-font-color);
}